h1 {
  color: rgb(189, 71, 169);
  color: rgb(255, 0, 212);
  font-family: "Press Start 2P", cursive;
  font-size: 30px;
}

h3 {
  color: rgb(189, 71, 169);
  font-size: 30px;
  font-family: "Dosis", sans-serif;
}
