<h1>Välkommen till VHSButiken.se</h1>
<h2>Här har vi nya och gamla filmer på VHS!</h2>

<nav>
      <h3><a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Hem</a></h3>
      <h3><a routerLink="./about" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Om oss</a></h3>
      <h3><a routerLink="./admin" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Admin</a></h3>
      <h3><a routerLink="./checkout" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Varukorg</a></h3>
</nav>