a:hover {
  text-shadow: rgb(133, 133, 133) 5px 5px 5px;
}

nav {
  // border: solid gray 2px;
  color: rgb(255, 160, 239);
  font-family: "Fredoka", sans-serif;
  text-decoration: none;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin-right: 30px;

  h3 {
    font-size: 40px;
    padding-left: 20px;
    padding-right: 20px;

    a {
      text-decoration: none;
      color: rgb(175, 0, 152);
    }
  }
}

h1 {
  color: rgb(255, 0, 212);
  font-family: "Press Start 2P", cursive;
  font-size: 40px;
  text-shadow: rgb(100, 100, 100) 5px 5px;
  padding-top: 10px;
  padding-left: 10px;
}

h2 {
  color: rgb(189, 71, 169);
  font-size: 30px;
  font-family: "Fredoka", sans-serif;
  padding-top: 10px;
  padding-left: 10px;
}
