<h1>Här kan du se alla lagda ordrar!</h1>
<h2 *ngIf="orders.length == 0"><em>Inga lagda ordrar tyvärr!!</em></h2>
<hr>
<br>
<div>
   <div *ngFor="let o of orders; let i = index" >
       <h2>Beställning: </h2>
        <p>
            Beställningsid: {{ o.id }}
        </p>
        <p>
            Beställningen lades: {{ o.created }}
        </p>
        <p>
            Beställningen lades av: {{ o.createdBy }}
        </p>
        <p>
            Betalningsmetod: {{ o.paymentMethod }}
        </p>
        <p>
            Totala pris: {{ o.totalPrice }} kr
        </p>
        <br>
        <h3>Beställningens Varor</h3>
        <p *ngFor="let row of o.orderRows">

        Id: {{ row.id }}
        <br>    
        Productens Id: {{ row.productId }}
        <br>
        Antal produkter: {{ row.amount }} st
        <br>
           
        </p>
        <br>
        <button (click)="deleteOrder(o.id)">Delete order!</button>
        <br>
        <br>
        <br>
        <hr>
   </div>
</div>
