<h3>Välkommen fyll i din information och klicka på betala så skickar vi filmerna så fort vi kan!</h3>

<div class="formContainer">
    <form [formGroup]="userForm" (ngSubmit)="submitCustomer()">
        <fieldset>
            <div class="inputContainer">
                    <input type="text" formControlName="firstname" placeholder="Förnamn">
                    <div *ngIf="userForm.get('firstname')?.invalid && userForm.get('firstname')?.touched && userForm.get('firstname')?.dirty">
                        <p *ngIf="userForm.get('firstname')?.errors?.['required']">Du måste fylla i ditt namn!</p>
                        <p *ngIf="userForm.get('firstname')?.errors?.['minlength']">Minst 2 bokstäver</p>
                    </div>

                <input type="text" formControlName="lastname" placeholder="Efternamn">
                    <div *ngIf="userForm.get('lastname')?.invalid && userForm.get('lastname')?.touched && userForm.get('lastname')?.dirty">
                        <p *ngIf="userForm.get('lastname')?.errors?.['required']">Du måste fylla i ditt efternamn!</p>
                        <p *ngIf="userForm.get('lastname')?.errors?.['minlength']">Minst 2 bokstäver</p>
                    </div>
                            
                <input type="text" formControlName="street" placeholder="Adress">
                    <div *ngIf="userForm.get('street')?.invalid && userForm.get('street')?.touched && userForm.get('street')?.dirty">
                        <p *ngIf="userForm.get('street')?.errors?.['required']">Vi behöver en adress till dej!</p>
                        <p *ngIf="userForm.get('street')?.errors?.['minlength']">Din adress måste innehålla minst 5 bokstäver</p>
                    </div>  
                        
                <input type="number" formControlName="houseNr" placeholder="Nummer">
                    <div *ngIf="userForm.get('houseNr')?.invalid && userForm.get('houseNr')?.touched && userForm.get('houseNr')?.dirty">
                        <p *ngIf="userForm.get('houseNr')?.errors?.['required']">Detta fält är obligatoriskt.</p>
                    </div>  
                            
                <input type="email" formControlName="email" placeholder="Mejladress">
                    <div *ngIf="userForm.get('email')?.invalid && userForm.get('email')?.touched && userForm.get('email')?.dirty">
                        <p *ngIf="userForm.get('email')?.errors?.['required']">Vi mååååste ha din email!</p>
                    </div>
            </div>
            
            <div class="buttonsWraper">
                <div class="buttonsContainer">
                   <input class="radioBtn" type="radio" formControlName="payMethod" id="paypal" value="paypal">
                    <label for="paypal">Paypal</label>

                    <input class="radioBtn" type="radio"formControlName="payMethod" id="invoice" value="invoice">
                    <label for="invoice">Faktura</label>
                      
                    <button  type="submit" [disabled]="!userForm.valid || products.length < 1">Slutför köp</button> 
                </div>
                
            </div>  
        </fieldset> 
    </form>
</div>

<div class="itemsWraper">
    <div class="itemsContainer" *ngIf="products">
        <div class="cartItem" *ngFor="let p of products; let i = index">
            <p> {{ p.name }} </p>
            <img src="{{ p.imageUrl }}">
            <p> {{ p.price }} kr</p>
            <button (click)="removeItem(i)">Radera</button>
        </div>

        
    </div>
</div>

<div class="totalPrice" *ngIf="products.length > 0">
        <h2> Totalbeloppet: <em>{{ totalPrice }}</em> Kr </h2>  
</div>

<div class="messageContiner" *ngIf="products.length < 1">
    <h2>Din varukorg är tom!! <a routerLink="">Tillbaka till Filmerna</a></h2>
</div>